@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(226, 183, 183);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}
.btn {
    background-color: lightcoral;
    color: #fff;
    font-family: inherit;
    font-size: 1.2rem;
    padding: 1.5rem 3rem;
    border-radius: 5px;
    border: none;
    margin: 1rem;
}